<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/create">
        <label>Tarefa</label><input type="text" name="tittle"/><br>
        <label>prazo</label><input type="text" name="deadline"/><br>
        <button type="submit">Salvar</button>
    </form>

    <br>
    <table>
        <thead>
            <tr>
                <th>Titulo</th><th>Criada em</th><th>Prazo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "todo : ${todos}">
                <td th:text = "${todo.title}"></td>
                <td th:text = "${todo.createAt}"></td>
                <td th:text = "${todo.deadline}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>